
.longString {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.tourExplanation {
	position: relative;
}
.tourExplanation:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(17, 213, 37, 0);
	border-top-color: wheat;
	border-width: 10px;
  margin-left: -10px;
}

.tourArrow {
  width: 32px;
  height: 24px;
}
.tourArrows {
  display: flex;
  justify-content: space-between;
}
.closeButton {
  padding: 14px;
  float: right;
}
.blockTutorial + .blockTutorial {
  margin-top: 1ex;
}
.fixed {
  background-color: #e9ecef;
}
.section {
  padding-bottom: 30px;
}
.table {
  margin-bottom: 0rem;
}
.fixedTable {
  table-layout: fixed;
  width: 100%;
}
.chainTable > tbody > tr > th {
  width: 150px;
  overflow: hidden;
}
.inside > tbody > tr:first-child > td {
  border: none;
}
.inside > tbody > tr:first-child > th {
  border: none;
}
.slim {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.btn {
  margin-bottom: 15px;
}
.attribution {
  float: right;
}
.hide {
  position:absolute;
  left:-9999px;
}
.tourExplanation b {
  font-weight: 900;
  color: $info;
}
.remove {
  display: none;
}

// to solve a react-joyride bug
.row {
  background-color: gainsboro;
}
