
body {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: medium;
  color: #41403d
}


h1 {
  font-family: Barlow, sans-serif;
  font-size: 70px;
}
h2, h3 {
  font-family: Barlow, sans-serif;
}

.longString {
  overflow-x: scroll;
  white-space: nowrap;
}

.tourExplanation {
  border-style: solid;
  border-color: grey;
  padding: 24px 30px;
}
.tourActiveChild {
  border-style: dashed;
  border-color: sienna;
}
.tourArrow {
  width: 32px;
  height: 24px;
}
.tourArrows {
  display: flex;
  justify-content: space-between;
}
.closeButton {
  padding: 14px;
  float: right;
}
.blockTutorial + .blockTutorial {
  margin-top: 1ex;
}
.fixed {
  background-color: #e9ecef;
}

.section {
  padding-bottom: 30px;
}